# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache
.npm

# Optional REPL history
.node_repl_history

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional coverage directory
coverage/
